<div class="container-body producto">
    <div class="wrapper">
        <div class="breadcrumb">
            <div class="home">
                <i class="fa fa-home"></i>
            </div>
            <div class="category">
                Categoría
            </div>
            <div class="category">
                Subcategoria
            </div>
            <div class="page">
                Producto
            </div>
        </div>
        <div class="main-desc">
            <div class="images">
                <div class="main-image">
                    <img src="http://placehold.it/400x400?text=PRODUCTO">
                </div>
                <div class="others">
                    <div class="image">
                        <img src="http://placehold.it/80x80?text=img">
                    </div>
                    <div class="image">
                        <img src="http://placehold.it/80x80?text=img">
                    </div>
                    <div class="image">
                        <img src="http://placehold.it/80x80?text=img">
                    </div>
                </div>
            </div>
            <div class="desc">
                <div class="title">Producto exclusivo</div>
                <div class="sub-title">de la empresa <span>Empresa Exclusiva</span></div>
                <div class="data-container">
                    <div class="bullet">
                        <div class="title">SKU:</div>
                        <div class="data">299230</div>
                    </div>
                    <div class="bullet">
                        <div class="title">Estado:</div>
                        <div class="data">Nuevo</div>
                    </div>
                </div>
                <div class="short-desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, ab, at! Sit doloremque illum quis nostrum nam vel suscipit, rerum dignissimos cumque voluptas, repellendus voluptatum neque officia numquam dolorem aspernatur.
                </div>
                <div class="top-bullets">
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                </div>
                <div class="social-network">
                    <div class="facebook">
                        <i class="fa fa-facebook"></i> Facebook
                    </div>
                    <div class="twitter">
                        <i class="fa fa-twitter"></i> Twitter
                    </div>
                    <div class="google">
                        <i class="fa fa-google-plus"></i> Google
                    </div>
                </div>
            </div>
            <div class="price-desc">
                <div class="original-price">
                    <span>PEN 99.90</span>
                    <div class="discount">25%</div>
                </div>
                <div class="actual-price">PEN 74.93</div>
                <div class="quantity">
                    <span>Cantidad:</span>
                    <select>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>
                </div>
                <div class="buttons">
                    <button>Agregar al carrito</button>
                </div>
                <div class="not-now">
                    <span>¿No quieres comprarlo en este momento?</span>
                    <div class="to-wishcart">
                        <i class="fa fa-heart"></i>
                        <span>¡Agrégalo a tus favoritos!</span>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="full-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit iste quo natus qui perferendis repellendus rerum alias totam placeat corrupti, minus doloremque officiis neque molestias esse, commodi saepe autem labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit iste quo natus qui perferendis repellendus rerum alias totam placeat corrupti, minus doloremque officiis neque molestias esse, commodi saepe autem labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit iste quo natus qui perferendis repellendus rerum alias totam placeat corrupti, minus doloremque officiis neque molestias esse, commodi saepe autem labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit iste quo natus qui perferendis repellendus rerum alias totam placeat corrupti, minus doloremque officiis neque molestias esse, commodi saepe autem labore.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit iste quo natus qui perferendis repellendus rerum alias totam placeat corrupti, minus doloremque officiis neque molestias esse, commodi saepe autem labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit iste quo natus qui perferendis repellendus rerum alias totam placeat corrupti, minus doloremque officiis neque molestias esse, commodi saepe autem labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit iste quo natus qui perferendis repellendus rerum alias totam placeat corrupti, minus doloremque officiis neque molestias esse, commodi saepe autem labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit iste quo natus qui perferendis repellendus rerum alias totam placeat corrupti, minus doloremque officiis neque molestias esse, commodi saepe autem labore.
        </div>
        <div class="data-sheet">
            <div class="table">
                <div class="title">Especificaciones técnicas</div>
                <table>
                    <tbody>
                        <tr>
                            <td>Title</td>
                            <td>Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>Lorem ipsum dolor sit amet</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table">
                <div class="title">Detalles adicionales</div>
                <table>
                    <tbody>
                        <tr>
                            <td>Title</td>
                            <td>Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>Lorem ipsum dolor sit amet</td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>Lorem ipsum dolor sit amet</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="comments">
            <div class="title"></div>
        </div>
    </div>
</div>