<header id="topbar" class="alt">
	<div class="topbar-left pull-left">
		<h1 class="mn">Combos</h1><span class="text-shady-lady fs15">Gestión de combos</span>
	</div>
	<div class="topbar-right">
		<div class="btn-group">
			<button type="button" data-ng-click="vm.open();" class="btn btn-primary"><i class="fa fa-plus"></i></button>
		</div>
	</div>
</header>
<section id="content" class="table-layout animated fadeIn">
	<div class="sub-content col-sm-6">
		<table class="table">
			<thead>
				<tr class="primary">
					<th>idCombo</th>
					<th>precioMin</th>
					<th>precioMax</th>
				    <th>precioLista</th>
				    <th>precioProducto</th>
				    <th>Productos </th>
				    <th></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="c in vm.combos">
					<td data-ng-bind="c.idCombo"></td>
					<td data-ng-bind="c.precioMin"></td>
					<td data-ng-bind="c.precioMax"></td>
				    <td data-ng-bind="c.precioLista"></td>
				    <td data-ng-bind="c.precioProducto"></td>
				    <td data-ng-bind="c.detalle"></td>
					<td><i class="fa fa-pencil" data-ng-click="vm.preEdit(c)"></i></td>
				</tr>			
			</tbody>
			</table>
		</div>
	</section>
	<div class="modal fade" id="modal-combo" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-ng-click="vm.close();" >
					<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Gestión de Combo</h4>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label for="precioMin" class="col-lg-3 control-label">Precio Mínimo</label>
							<div class="col-lg-8">
								<div class="bs-component">
									<input data-ng-model="vm.combo.precioMin" id="precioMin" type="text" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="precioMax" class="col-lg-3 control-label">Precio Máximo</label>
							<div class="col-lg-8">
								<div class="bs-component">
									<input data-ng-model="vm.combo.precioMax" id="precioMax" type="text" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="precioLista" class="col-lg-3 control-label">Precio Lista</label>
							<div class="col-lg-8">
								<div class="bs-component">
									<input data-ng-model="vm.combo.precioLista" id="precioLista" type="text" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group" ng-repeat="detalle in vm.combo.detalles">
							<div class="col-sm-6">
								<div class="bs-component">
									<label for="products" class="col-lg-3 control-label">Producto</label>
									<select id="products" data-ng-model="detalle.idProducto" class="form-control" ng-options="c.idProducto as c.descripcion for c in vm.products track by c.idProducto"></select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="bs-component">
									<label for="precio" class="col-lg-3 control-label">Precio</label>
									<input data-ng-model="detalle.precio" id="precioLista" type="text" class="form-control">
								</div>
							</div>
						</div>
						<button type="button" class="btn btn-primary" data-ng-click="vm.addProduct()">+ Agregar producto</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-ng-click="vm.close();" >Cerrar</button>
					<button type="button" class="btn btn-primary" data-ng-click="vm.ok()" data-ng-bind="vm.buttonPopup();"></button>
					<button type="button" class="btn btn-warning" data-ng-click="vm.remove();" ng-if="vm.showdelete();">Eliminar</button>
				</div>
			</div>
		</div>
	</div>