<header id="topbar" class="alt">
	<div class="topbar-left pull-left">
		<h1 class="mn">Entidad {{vm.entity.razonSocial}}</h1><span class="text-shady-lady fs15">Gestión de la entidad</span><br><span class="label label-success">{{vm.entity.tipoEntidad}}</span>
	</div>
	<div class="topbar-right">
		
	</div>
</header>
<section id="content" class="animated fadeIn">
	<div class="col-sm-6">
		<div class="form-group">
			<label for="departamento">Departamento</label>
			<select id="departamento" class="form-control" 
				ng-model="vm.departamento"  
				ng-init="vm.departamento = vm.entity.idDepartamento"
				ng-options="u as u.descripcion for u in vm.ubigeo"
			></select>
		</div>
		<div class="form-group">
			<label for="provincia">Provincia</label>
			<select id="provincia" class="form-control" 
				ng-model="vm.provincia"
				ng-options="p as p.descripcion for p in vm.departamento.provincias"></select>
		</div>
		<div class="form-group">
			<label for="distrito">Distrito</label>
			<select id="distrito" class="form-control" 
				ng-model="vm.distrito"  
				ng-options="d as d.descripcion for d in vm.provincia.distritos"></select>
		</div>
		<div class="form-group">
			<label for="domicilio">Domicilio Fiscal</label>
			<input type="text" id="domicilio" class="form-control" ng-model="vm.entity.domicilioFiscal" placeholder="Domicilio Fiscal">
		</div>
		<div class="form-group">
			<label for="comercial">Nombre Comercial</label>
			<input type="text" id="comercial" class="form-control" ng-model="vm.entity.nombreComercial" placeholder="Nombre Comercial">
		</div>
		<div class="form-group">
			<label for="correo">Correo</label>
			<input type="text" id="correo" class="form-control" ng-model="vm.entity.correo" placeholder="Correo">
		</div>
		<div class="form-group">
			<label for="web">Web</label>
			<input type="text" id="web" class="form-control" ng-model="vm.entity.web" placeholder="Web">
		</div>
		<div class="form-group">
			<button class="btn btn-success pull-right" ng-click="vm.ok()">
				Actualizar
			</button>
		</div>
	</div>
</section>
