<div class="slides">
	<div class="slider">
		<img src="http://placehold.it/1200x350?text=BANNER 1">
		<img src="http://placehold.it/1200x350?text=BANNER 2">
		<!-- <a href="#" class="slidesjs-previous slidesjs-navigation">
			<i class="fa fa-chevron-left"></i>
		</a>
		<a href="#" class="slidesjs-next slidesjs-navigation">
			<i class="fa fa-chevron-right"></i>
		</a> -->
	</div>
</div>
<div class="main-products">
	<div class="section-title">PRODUCTOS DESTACADOS</div>
	<div class="products-container">
		<div class="product-wrapper">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/200x150?text=PRODUCTO">
				</div>
				<div class="description">
					<div class="title">PRODUCTO EXCLUSIVO</div>
					<div class="price">PEN 79.90</div>
				</div>
				<div class="buttons">
					<div class="buy">
						<i class="fa fa-shopping-basket"></i>
					</div>
					<div class="favorites">
						<i class="fa fa-heart"></i>
					</div>
					<div class="go-description">
						<i class="fa fa-align-justify"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="product-wrapper">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/200x150?text=PRODUCTO">
				</div>
				<div class="description">
					<div class="title">PRODUCTO EXCLUSIVO</div>
					<div class="price">PEN 79.90</div>
				</div>
				<div class="buttons">
					<div class="buy">
						<i class="fa fa-shopping-basket" data-ng-click="vm.addToCart()"></i>
					</div>
					<div class="favorites">
						<i class="fa fa-heart"></i>
					</div>
					<div class="go-description">
						<i class="fa fa-align-justify"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="product-wrapper">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/200x150?text=PRODUCTO">
				</div>
				<div class="description">
					<div class="title">PRODUCTO EXCLUSIVO</div>
					<div class="price">PEN 79.90</div>
				</div>
				<div class="buttons">
					<div class="buy">
						<i class="fa fa-shopping-basket"></i>
					</div>
					<div class="favorites">
						<i class="fa fa-heart"></i>
					</div>
					<div class="go-description">
						<i class="fa fa-align-justify"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="product-wrapper">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/200x150?text=PRODUCTO">
				</div>
				<div class="description">
					<div class="title">PRODUCTO EXCLUSIVO</div>
					<div class="price">PEN 79.90</div>
				</div>
				<div class="buttons">
					<div class="buy">
						<i class="fa fa-shopping-basket"></i>
					</div>
					<div class="favorites">
						<i class="fa fa-heart"></i>
					</div>
					<div class="go-description">
						<i class="fa fa-align-justify"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="product-wrapper">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/200x150?text=PRODUCTO">
				</div>
				<div class="description">
					<div class="title">PRODUCTO EXCLUSIVO</div>
					<div class="price">PEN 79.90</div>
				</div>
				<div class="buttons">
					<div class="buy">
						<i class="fa fa-shopping-basket"></i>
					</div>
					<div class="favorites">
						<i class="fa fa-heart"></i>
					</div>
					<div class="go-description">
						<i class="fa fa-align-justify"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="product-wrapper">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/200x150?text=PRODUCTO">
				</div>
				<div class="description">
					<div class="title">PRODUCTO EXCLUSIVO</div>
					<div class="price">PEN 79.90</div>
				</div>
				<div class="buttons">
					<div class="buy">
						<i class="fa fa-shopping-basket"></i>
					</div>
					<div class="favorites">
						<i class="fa fa-heart"></i>
					</div>
					<div class="go-description">
						<i class="fa fa-align-justify"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="product-wrapper">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/200x150?text=PRODUCTO">
				</div>
				<div class="description">
					<div class="title">PRODUCTO EXCLUSIVO</div>
					<div class="price">PEN 79.90</div>
				</div>
				<div class="buttons">
					<div class="buy">
						<i class="fa fa-shopping-basket"></i>
					</div>
					<div class="favorites">
						<i class="fa fa-heart"></i>
					</div>
					<div class="go-description">
						<i class="fa fa-align-justify"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="product-wrapper">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/200x150?text=PRODUCTO">
				</div>
				<div class="description">
					<div class="title">PRODUCTO EXCLUSIVO</div>
					<div class="price">PEN 79.90</div>
				</div>
				<div class="buttons">
					<div class="buy">
						<i class="fa fa-shopping-basket"></i>
					</div>
					<div class="favorites">
						<i class="fa fa-heart"></i>
					</div>
					<div class="go-description">
						<i class="fa fa-align-justify"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="product-wrapper">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/200x150?text=PRODUCTO">
				</div>
				<div class="description">
					<div class="title">PRODUCTO EXCLUSIVO</div>
					<div class="price">PEN 79.90</div>
				</div>
				<div class="buttons">
					<div class="buy">
						<i class="fa fa-shopping-basket"></i>
					</div>
					<div class="favorites">
						<i class="fa fa-heart"></i>
					</div>
					<div class="go-description">
						<i class="fa fa-align-justify"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="product-wrapper">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/200x150?text=PRODUCTO">
				</div>
				<div class="description">
					<div class="title">PRODUCTO EXCLUSIVO</div>
					<div class="price">PEN 79.90</div>
				</div>
				<div class="buttons">
					<div class="buy">
						<i class="fa fa-shopping-basket"></i>
					</div>
					<div class="favorites">
						<i class="fa fa-heart"></i>
					</div>
					<div class="go-description">
						<i class="fa fa-align-justify"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="most-searched">
	<div class="section-title">PRODUCTOS MÁS BUSCADOS</div>
	<div class="products-container">
		<div class="product-wrapper">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/200x150?text=PRODUCTO">
				</div>
				<div class="description">
					<div class="title">PRODUCTO EXCLUSIVO</div>
					<div class="price">PEN 79.90</div>
				</div>
				<div class="buttons">
					<div class="buy">
						<i class="fa fa-shopping-basket"></i>
					</div>
					<div class="favorites">
						<i class="fa fa-heart"></i>
					</div>
					<div class="go-description">
						<i class="fa fa-align-justify"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="product-wrapper">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/200x150?text=PRODUCTO">
				</div>
				<div class="description">
					<div class="title">PRODUCTO EXCLUSIVO</div>
					<div class="price">PEN 79.90</div>
				</div>
				<div class="buttons">
					<div class="buy">
						<i class="fa fa-shopping-basket"></i>
					</div>
					<div class="favorites">
						<i class="fa fa-heart"></i>
					</div>
					<div class="go-description">
						<i class="fa fa-align-justify"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="product-wrapper">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/200x150?text=PRODUCTO">
				</div>
				<div class="description">
					<div class="title">PRODUCTO EXCLUSIVO</div>
					<div class="price">PEN 79.90</div>
				</div>
				<div class="buttons">
					<div class="buy">
						<i class="fa fa-shopping-basket"></i>
					</div>
					<div class="favorites">
						<i class="fa fa-heart"></i>
					</div>
					<div class="go-description">
						<i class="fa fa-align-justify"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="product-wrapper">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/200x150?text=PRODUCTO">
				</div>
				<div class="description">
					<div class="title">PRODUCTO EXCLUSIVO</div>
					<div class="price">PEN 79.90</div>
				</div>
				<div class="buttons">
					<div class="buy">
						<i class="fa fa-shopping-basket"></i>
					</div>
					<div class="favorites">
						<i class="fa fa-heart"></i>
					</div>
					<div class="go-description">
						<i class="fa fa-align-justify"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="product-wrapper">
			<div class="product">
				<div class="image">
					<img src="http://placehold.it/200x150?text=PRODUCTO">
				</div>
				<div class="description">
					<div class="title">PRODUCTO EXCLUSIVO</div>
					<div class="price">PEN 79.90</div>
				</div>
				<div class="buttons">
					<div class="buy">
						<i class="fa fa-shopping-basket"></i>
					</div>
					<div class="favorites">
						<i class="fa fa-heart"></i>
					</div>
					<div class="go-description">
						<i class="fa fa-align-justify"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>