<header id="topbar" class="alt">
	<div class="topbar-left pull-left">
		<h1 class="mn">Perfiles</h1><span class="text-shady-lady fs15">Gestión de perfiles</span>
	</div>
	<div class="topbar-right">
		<div class="btn-group">
			<button type="button" data-ng-click="vm.open();" class="btn btn-primary"><i class="fa fa-plus"></i></button>
		</div>
	</div>
</header>
<section id="content" class="table-layout animated fadeIn">
	<div class="sub-content col-sm-6">
		<table class="table">
			<thead>
				<tr class="primary">
					<th>Id</th>
					<th>Nombre</th>
					<th>Usuario de creación</th>
					<th>Fecha de creación</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="c in vm.profiles">
					<td data-ng-bind="c.idPerfil"></td>
					<td data-ng-bind="c.descripcion"></td>
					<td data-ng-bind="c.usuarioCreacion"></td>
					<td data-ng-bind="c.fechaCreacion"></td>
					<td><i class="fa fa-pencil" data-ng-click="vm.preEdit(c)"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<div class="modal fade" id="modal-profile" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="vm.close();" >
				<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Gestión de perfil</h4>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="nombre" class="col-lg-3 control-label">Nombre</label>
						<div class="col-lg-8">
							<div class="bs-component">
								<input data-ng-model="vm.profile.descripcion" id="nombre" type="text" class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-ng-click="vm.close();" >Cerrar</button>
				<button type="button" class="btn btn-primary" data-ng-click="vm.ok()" data-ng-bind="vm.buttonPopup();"></button>
			</div>
		</div>
	</div>
</div>