<div class="container-body carrito">
    <div class="wrapper">
        <div class="breadcrumb">
            <div class="home">
                <i class="fa fa-home"></i>
            </div>
            <div class="page">
                Carrito de compras
            </div>
        </div>
        <div class="main-desc">
            <div class="shopping-cart">
                <div class="title">TU CARRITO</div>
                <div class="carrito-container">
                    <div class="item">
                        <div class="image">
                            <img src="http://placehold.it/100x100?text=PRODUCTO">
                        </div>
                        <div class="description">
                            <div class="name">
                                PRODUCTO EXCLUSIVO
                            </div>
                            <div class="by">
                                de la empresa
                                <span class="business">Empresa exclusiva</span>
                            </div>
                            <div class="delete">
                                <i class="fa fa-trash"></i> Eliminar del carrito
                            </div>
                        </div>
                        <div class="price">PEN 74.93</div>
                        <div class="qty">
                            <span>Cantidad:</span>
                            <select>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                            </select>
                        </div>
                        <div class="total-price">PEN 74.93</div>
                    </div>
                </div>
            </div>
            <div class="price-desc cart-price">
                <div class="title">RESUMEN DE TU PEDIDO</div>
                <div class="resumen">
                    <div class="item">
                        <div class="item-reason">Subtotal</div>
                        <div class="item-price">PEN 74.93</div>
                    </div>
                    <!-- <div class="item">
                        <div class="item-reason">Costo de envío</div>
                        <div class="item-price">PEN 15.00</div>
                    </div> -->
                </div>
                <div class="actual-price">PEN 74.93</div>
                <div class="buttons">
                    <a ui-sref="marketplace.checkout"><button>Proceder con la compra</button></a>
                </div>
                <div class="not-now">
                    <span>¿Tienes algún problema?</span>
                    <div class="to-wishcart">
                        <i class="fa fa-phone"></i>
                        <span>¡Comunícate con nosotros!</span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>