<div class="container-body login">
    <div class="form">
        <div class="form-title">ESTABLECER CONTRASEÑA</div>
        <div class="input-group">
            <i class="fa fa-lock"></i>
            <input type="password" data-ng-model="vm.data.password" placeholder="Contraseña">
        </div>
        <div class="input-group">
            <i class="fa fa-lock"></i>
            <input type="password" data-ng-model="vm.data.passwordAgain" placeholder="Repetir contraseña">
        </div>
        <div class="buttons">            
            <button data-ng-click="vm.setPassword()" data-ng-disabled="vm.isProcessing()">Aceptar</button>            
        </div>        
    </div>
</div>